<div class="sidenav">
    <div class="login-main-text">
       <h2>Application<br> Signup Page</h2>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First Name">
             </div>
             <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name">
             </div>
             <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email">
             </div>
             <div>
                <label>Gender : </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="M" id=male />Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="F" id=female />Female
                </label>
             </div>
             <div class="form-group">
                <label>Mobile Number</label>
                <input type="number" class="form-control" placeholder="Mobile Number">
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password">
             </div>
             <button type="submit" class="btn btn-black">Submit</button>
             <p>If already Registered click <a href="/login">Login</a></p>
          </form>
       </div>
    </div>
 </div>