<div class="main-page">
  <div class="flex-end">
    <button type="button" (click)="openAddProject()" class="btn btn-light">Add Privilege</button>
  </div>       
  <h2>Privileges Code</h2>   
<table class="table table-bordered">
  <thead>
    <tr>
      <th>createProject</th>
      <th>Java</th>
      <th>React</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>Moe</td>
      <td>mary@example.com</td>
    </tr>
    <tr>
      <td>July</td>
      <td>Dooley</td>
      <td>july@example.com</td>
    </tr>
  </tbody>
</table>
</div>